*,
*::after,
*::before {
  /* Sane box-sizing */
  box-sizing: border-box;
}

html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 18px;
  line-height: 1.4;
  color: #111;
  --content-gap: 1rem;
}

body {
  /* Remove the default margin */
  margin: 0;
  background-color: #eee;
  /* body height is at least viewport height */
  min-height: 100vh;
  /* Prevent adjustments of font size after orientation changes in iOS */
  -webkit-text-size-adjust: 100%;
  /* Change the default tap highlight to be completely transparent in iOS */
  -webkit-tap-highlight-color: transparent;
}

p,
ul {
  /* avoid default margin collapsing complexity */
  margin-top: 0;
  /* space between content blocks */
  margin-bottom: var(--content-gap);
}

footer,
header {
  padding: 1.25em;
}

/* Header */

header {
  border-bottom: 1px solid #eaeaea;
  display: flex;
  gap: var(--content-gap);
}

h1 {
  /* avoid default margin collapsing complexity */
  margin-top: 0;
  margin-bottom: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

small {
  display: block;
}

/* Header image */

img,
source {
  border-radius: 50%;
}

picture {
  display: block;
  width: 200px;
  height: 200px;
}

/* List */

ul {
  list-style: none;
  margin-bottom: 0;
  padding: 1.25em;
}

li {
  display: flex;
  gap: var(--content-gap);
}

li > p:first-child {
  font-size: calc(var(--content-gap) * 2);
}

li:last-child > p {
  /* no bottom margins for last list item */
  margin-bottom: 0;
}

/* Footer */

footer {
  border-top: 1px solid #eaeaea;
  text-align: center;
}

/* @media rules for width & font-size */
@media (max-width: 767px) {
  h1 {
    font-size: calc(var(--content-gap) * 1.5);
  }
}
@media (min-width: 768px) {
  body {
    max-width: 506px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  body {
    max-width: 655px;
  }
}
@media (min-width: 1200px) {
  body {
    max-width: 800px;
  }
}
@media (min-width: 1400px) {
  body {
    max-width: 900px;
  }
}
